table, th, td {
    border: 3px solid rgb(240, 174, 174);
    border-collapse: collapse;
}

body {
    background-color: rgb(136, 160, 220);
}

.incompleteClass {
background-color: rgb(109, 201, 201);
}

.completeClass {
    background-color: rgb(142, 237, 181);
}

td {
   
    padding: 15px;
}

